################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CubeController/obj
/CubeController/.vs/CubeController/v14
